.organiseplantation_main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* height: 700px; */
}

.organiseplantation_parent {
    width: 500px;
    height: 500px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* box-shadow: 0 0 10px rgb(182, 182, 182); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

.motivation{
    width: 500px;
    height: 500px;
    background-image: url('./6369538.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* box-shadow: 0 0 10px rgb(182, 182, 182); */
}

.organiseplantation_parent input {
    /* margin-bottom:20px ; */
    width: 80%;
    height: 50px;
    border: none;
    background-color: aliceblue;
    padding-left: 10px;
    font-size: large;
}

.organiseplantation_parent input:focus {
    outline: none;
}

.organiseplantation_parent div {
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(132, 132, 132);
    background-color: aliceblue;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.organiseplantation_parent svg {
    font-size: 30px;
}

.organiseplantation_parent button {
    width: 180px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 153, 143);
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    text-shadow: 0 0 5px black;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #08dfa2;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #0d7aa5;
}

#fileupload {
    box-shadow: none;
    background: none;
}

#fileupload h6{
    color: green;
}