.landmain {
  width: 100%;
  height: 90vh;
  display: flex;
}

.landleft {
  width: 320px;
  height: 90vh;
  background-color: rgb(104, 169, 171);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

.userBox {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.512);
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: 2px solid white;
}

.userinnerBox {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userinnerBox svg {
  margin-right: 10px;
  font-size: 40px;
  color: rgb(0, 152, 109);
}

.userinnerBox p {
  font-weight: bold;
  color: rgb(96, 96, 96);
  margin-top: 10px;
}

.landright {
  width: 70%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: center;
  z-index: -1;
}

.landrighttop {
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landrightbottom {
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: space-around;
}

.landbtn {
  text-decoration: none;
  height: 2.5rem;
  width: 10rem;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  padding: 5px;
  background-color: #018470;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 5px black;
  box-shadow: 1px 2px 10px black;
}

.landbtn:hover {
  box-shadow: 1px 2px 10px rgb(10, 143, 83);
}

:root {
  --gold: #02b47e;
  --light-shadow: #ffffff;
  --dark-shadow: #ffa200;
}

.wrapper {
  display: grid;
  grid-template-areas: "overlap";
  place-content: center;
  text-transform: uppercase;
}

.wrapper > div {
  background-clip: text;
  -webkit-background-clip: text;
  color: #363833;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: clamp(2em, 12vw, 8rem);
  grid-area: overlap;
  letter-spacing: 1px;
  -webkit-text-stroke: 4px transparent;
}

div.bg {
  background-image: repeating-linear-gradient(
    105deg,
    var(--gold) 0%,
    var(--dark-shadow) 5%,
    var(--gold) 12%
  );
  color: transparent;
  filter: drop-shadow(5px 15px 15px black);
  transform: scaleY(1.05);
  transform-origin: top;
}

div.fg {
  background-image: repeating-linear-gradient(
    5deg,
    var(--gold) 0%,
    var(--light-shadow) 23%,
    var(--gold) 31%
  );
  color: #1e2127;
  transform: scale(1);
}

.wrapper1 {
  display: grid;
  grid-template-areas: "overlap";
  place-content: center;
  text-transform: uppercase;
  text-align: center;
}

.wrapper1 > div {
  background-clip: text;
  -webkit-background-clip: text;
  color: #363833;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: clamp(2em, 2vw, 2rem);
  grid-area: overlap;
  letter-spacing: 1px;
  -webkit-text-stroke: 4px transparent;
}

div.bg1 {
  background-image: repeating-linear-gradient(
    105deg,
    var(--gold) 0%,
    var(--dark-shadow) 5%,
    var(--gold) 12%
  );
  color: transparent;
  filter: drop-shadow(5px 15px 15px black);
  transform: scaleY(1.05);
  transform-origin: top;
}

div.fg1 {
  background-image: repeating-linear-gradient(
    5deg,
    var(--gold) 0%,
    var(--light-shadow) 23%,
    var(--gold) 31%
  );
  color: #1e2127;
  transform: scale(1);
}

@media (max-width: 62em) {
  .wrapper > div {
    font-size: clamp(1em, 6vw, 4rem);
  }
  .landbtn {
    padding: 0;
    font-weight: lighter;
    width: 12rem;
  }
}

@media (max-width: 35em) {
  .wrapper1 > div {
    font-size: clamp(0.5em, 3vw, 2rem);
  }
}
