.day-container{
    width: 100%;
    display: flex;
    justify-content: space-center;
    align-items: center;
    flex-wrap: wrap;
}

.day-card {
    width: 10rem;
    height: 12rem;
    justify-content: center;
    border-radius: 1rem;
    font-size: 2rem;
    box-shadow: 0 5px 10px rgb(0 0 0/40%);
    overflow: hidden;
    margin: 2rem;
    cursor: pointer;
    position:relative;
    /* background: url('sample.jpg'); */
    background-size: cover;
    background-position: center;
}

.day-card, .day-card-content {
    display: flex;
    align-items: center;
}

.day-card-content{
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    width: 50%;
}

.day-card-content-day{
    font-size: 1.6rem;
    color: #0e0e0f;
    margin-top: 1rem;
    line-height: 1;
}


.done-mark-tick{
    width: 12px;
  height: 28px;
  border-bottom: 4px solid #333;
  border-right: 4px solid #333;
  transform: rotate(45deg);
}


.card-layer{
    z-index: 1;
    position: absolute;
    top: calc(100% - 4px);
    height: 2.5rem;
    width: 100%;
    left: 0;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg,#074aae,#00c3ff 74%);
    transition: .3s;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    display: flex;
    color: #fff;
    transform: translateY(-90%);
}
