body {
  font-family: 'Cormorant Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/assets/background\ svg.svg');
}

code {
  font-family: 'Cormorant Garamond', serif;
}

*{
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0d7061;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}